.LandingPage {
  background: #fff;
  border-radius: 0.8rem;
  width: 40rem;
}
.title {
  font-size: 1.5rem;
  padding: 1.5rem 0 0 2rem;
  color: #29a5e8;
  font-size: 2rem;
  font-weight: bold;
}
.hr-1 {
  margin: 2.5rem 0;
}
.lower-sect {
  padding: 0 2rem 2rem 2rem;
}
.input {
  height: 5rem;
  width: 100%;
  font-size: 1.5rem;
  padding: 0 1rem;
  text-align: center;
  border-radius: 0.8rem;
  outline: none;
  border: 0.125rem solid grey;
}
.input:focus {
  border-color: #000;
}
.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.divider hr {
  flex: 1;
}
.divider span {
  margin: 0 1rem;
  font-size: 1.5rem;
  padding: 1rem;
  font-style: italic;
  color: grey;
}
.get-location_button {
  height: 5rem;
  width: 100%;
  font-size: 1.5rem;
  color: #fff;
  background: #0aa0f0;
  border: none;
  border-radius: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}
.get-location_button:hover {
  background: #0a9ff0cd;
}
